doctype html
html
  head
    title My Web App
    link(rel="stylesheet", href="/css/output.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap")
    block links
    style.
      body {
        font-family: Poppins sans-serif;
      }
  body
    main
      block content
      block scripts