extends ../layouts/homeLayout

block content
  section(class="flex justify-center items-center flex-col h-[100vh]")     
    img(src="/images/logo-mess.svg", alt="", srcset="", class="")
    h2(class="py-4 text-3xl font-mono font-bold")
      = "WEB CHAT"
    form(action="/signin", method="post", class="flex flex-col w-[40%] items-center mt-12") 
      input(type="text", name="username", placeholder="Email hoặc số điện thoại", class="py-2 px-3 border rounded border-gray-400 w-full")
      input(type="password", name="password", placeholder="Mật khẩu", class="py-2 px-3 mt-6 border rounded border-gray-400 w-full")
      button(type="submit", class="bg-blue-700 text-white p-2 cursor-pointer w-[20%] hover:opacity-70 rounded-4xl mt-6") 
        = "Tiếp tục"
      div(class="mt-6")
        input#rbmBtn(type="checkbox", name="rbmBtn")
        label(for="rbmBtn", class="ml-2") 
          = "Duy trì đăng nhập"
    hr(class="w-[40%] h-[1px] text-gray-300 mt-4")
    div(class="mt-4 flex items-center justify-evenly w-[50%]")
      a(href="", class="cursor-pointer hover:opacity-70")
        = "Đăng ký"
      a(href="", class="cursor-pointer hover:opacity-70")
        = "Quên mật khẩu"