extends ../layouts/mainLayout

block content
  //- CHAT BOX LIST CONTAINER
  section(class="w-[25%] h-full p-2 bg-white rounded-2xl", style="box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 2px;") 
    div(class="flex justify-between items-center h-[10%] px-2")
      //- Tittle 
      h1(class="text-2xl font-bold")
        = "Đoạn chat"

      div(class="text-xl")
        //- setting btn 
        a(href="/me", class="mr-2")
          i(class='bx bx-cog p-2 rounded-full bg-gray-200 hover:opacity-50')  
        //- new chat btn 
        a(href="")            
          i(class='bx bxs-edit p-2 rounded-full bg-gray-200 hover:opacity-50')

    //- Search bar 
    div(class="h-[10%] flex items-center py-4 px-2")
      form(action="", class="relative w-full") 
        input(type="text", class="rounded-3xl bg-gray-200 px-8 py-2 w-full text-gray-500", placeholder="Tìm kiếm đoạn chat")
        i(class="bx bx-search absolute left-3 top-[50%] translate-y-[-50%] text-gray-500") 

    //- chat box list 
    div#chat-box-list(class="h-[80%] overflow-y-scroll")    
      .chat-box(class="flex w-full items-center h-18 hover:bg-gray-200 cursor-pointer p-4 rounded-2xl")
        div(class="w-12 h-12 rounded-full bg-contain bg-no-repeat bg-center", style="background-image: url(/images/test.jpg)")  
        div(class="flex-auto px-2")
          h1(class="font-bold")
            = "Phương My"
          span(class="text-gray-500 text-[0.75rem]")  
            = "Vk iu ck <3 <3 <3 ·2 giờ"
        div(class="w-6 h-6 rounded-full bg-contain bg-no-repeat bg-center", style="background-image: url(/images/test.jpg)")      
                    
  //- CHAT CONTAINER 
  section(class="w-[75%] h-full p-4 bg-white rounded-2xl", style="box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 2px;") 
    div(class="w-full h-full flex justify-center items-center text-3xl")
      = "Hãy chọn 1 đoạn chat để bắt đầu"

block scripts
  script(src="../../resources/js/chatScript.js")     
      
          
    