doctype html
html
  head
    title My Web App
    block links
  body
    header
      h1 Welcome to My Web App
    main
      block content  // Block nội dung chính sẽ thay đổi tùy vào từng view
      block scripts